.show-user{
    display: flex;
    width: 450px;
    border: none;
    border-radius: 20px;
    margin-bottom: 10px;
    box-shadow: 5px 5px 15px lightgray;
    line-height: 15px;
    box-sizing: border-box;
    padding: 20px;
}
.showInfo{
    font-weight: 200;
}
.main-button{
    width: 120px;
    color: white;
    padding: 10px;
    font-size: 18px;
    border-radius: 20px;
    border-style: none;
    margin-bottom: 10px;
    background-color: blueviolet;
    cursor: pointer;
}
.imgPart img{
    width: 100px;
    height: 100px;
    margin-top: 35px;
    margin-left: 30px;
    border: 1px solid skyblue;
    border-radius: 80px;
}